
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "roboto", sans-serif;
    color: rgb(84, 77, 77);
}

header div {

}

h1 {
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    padding: 2.5% 0 2.5% 0;
}

#text-red {
    color: rgb(255, 0, 0, 0.8);
}

.prueba {
    margin: 0 auto;
    width: 80%;
}

.textCentered {
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    padding: 2% 10%;
}
.tc1 {
    padding: 0.5% 10% 0 10%;
}

.tc2 {
    padding: 1% 10% 0.5% 10%;
}

nav {
    background-color: rgb(255, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    width: 80%;
    margin: 1% auto 0.5% auto;
    padding: 1% 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: white;
  }

nav ul a:hover {
    color: rgb(84, 77, 77, 0.5);
}

.section {
    width: 80%;
    margin: 0 auto;
}

.container {
    position: relative
}

#mainzer_dom {
    width: 100%;
    display: flex;
    height: auto;
    margin: 2% auto;
    position: relative;
}

.section > div > p {
    color: white;
    font-size: 1.8em;
    background-color: rgb(255, 0, 0, 0.8);
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0.5% 1% 0.5% 1%;
}

.section_dos {
    display: flex;
    flex-direction: row;
}

.subsection1 {
    background-color: hotpink; 
    margin-right: 2%;
    padding: 1%;
    width: 70%;
}

.subsection1 .line {
    background-color: grey; 
    display: flex;
    justify-content: space-around;
    margin: 2.5% 0;
}

.line article {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 90%;
}

.line article a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    position: relative;
    margin-bottom: 3%;
}

.line article a span {
    position: absolute;
    color: red;
    left: 0;
    bottom: 1.9%;
    background-color: white;
    padding: 1%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subsection1 div article img {
    width: 100%;
    height: 160px; 
}

.text {
    text-align: justify;
    background-color: yellow;
    width: 90%
}

#lateral {
    background-color: rgb(255, 0, 0, 0.8);
    color: white;
    padding: 1%;
    width: 30%;
    height: fit-content;
    font-size: 0.8rem;
}

#lateral div article div {
    text-align: justify;
    line-height: 1.5;
    margin: 2% 0;
}

#lateral div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lage {
    margin-bottom: 2%;
}

.map-frame {
    margin-top: 3%;
    margin-bottom: 1%;
    height: 200px;
    padding: 5px rgba(250, 248, 248, 0.8);
  }